body{
    min-height: 100vh;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0px;
    margin: 0px;
}
h1{
    text-align: center;
    padding: 20px;
    margin: 0;
}
.container{
    border: 1px solid rgba(0, 0, 0, 0.267);
margin: auto;
    border-radius: 5px;
    height: 420px;
    width: max-content;
    padding: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
  background-color:rgba(128, 128, 128, 0.295);
    
}img{
 height: 170px;
 width: 170px;
    margin: 10px;
}