* {
  font-family: "Courier New", Courier, monospace;
}
h1 {
  text-align: center;
}
p {
  font-variant: small-caps;
  font-size: 20px;
  border: 2px solid black;
  padding: 10px;
  width: 500px;
  font-size: 1.5em;
  margin: auto;
}
