* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}
html body{
  height: 100vh;
  width: 100vw;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #233eff;
}
h1 {
  text-align: center;
  background-color: lightblue;
  padding: 20px;
}
p {
  font-family: Arial, Helvetica, sans-serif;
  width: 400px;
  background-color: lightgray;
  font-size: 18px;
  margin: auto;
  padding: 6px 5px 2px 5px;
}
