body {
  background-image: linear-gradient(180deg, #8d7000, #ffda48);
  min-height: 100dvh;
  padding-left: 7px;
}
.titulo {
  color: #2a09e0;
  font-weight: 900;
  font-family: "Gravitas One";
}
.subtitulo {
  color: #2a09e0;
  font-style: italic;
  font-variant: small-caps;
}
.paragrafo {
  color: azure;
  text-align: justify;
  width: 600px;
}

.iconesRedesSociais {
  font-style: none;
  padding-left: 15px;
  flex-direction: column;
  display: flex;
  gap: 8px;
  width: max-content;
}
.iconesRedesSociais .social {
  display: inline-flex;
  align-items: center;
  gap: 8px;
}
.iconesRedesSociais .social img {
  width: 24px;
  height: 24px;
  object-fit: contain;
  display: block;
}
a {
  text-decoration: none;
  color: red;
}
a:hover {
  text-decoration: underline;
}
a:visited {
  color: darkred;
}
a:active {
  color: #150763;
}
#meuNome  {
  font-family: "Gravitas One";
  color: #150763;
  text-shadow: #550000 0px 0px 20px;
}