body{
    background-image: linear-gradient(180deg ,#8D7000 , #FFDA48);
    min-height: 100dvh;
    padding-left: 7px;
}
.titulo{
    color: #2A09E0;
    font-weight: 900;
}.subtitulo{
    color: #2A09E0;
    font-style: italic;
    font-variant: small-caps;
}
.paragrafo{
    color: azure;
}

.iconesRedesSociais{
    padding-left:15px ;
}
#meuNome{
    font-family: 'Gravitas One';
    color: #150763;
}