body {
  margin: 0 auto;
  height: 100vh;
  background-image: url(assets/wallpaper002.jpg);
  background-size: cover;
  background-repeat: repeat;
  background-position: center center;
  background-attachment: fixed;
}
div {
  max-width: 550px;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid black;
  border-radius: 10px;
  padding: 5px;
}
div > h2 {
  margin-top: 5px;
}
div > p {
  text-align: justify;
}
