/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
/*----------------------------------------*/

}
body{
    height: 100vh;
    display: flex;
    background-color: #000000;
    color: #ffffff;
    justify-content: center;
    align-items: center;
}
main{
    width: 70%;
    margin: 0 auto;
    display: flex;
    border: 1px solid #ffffff;
    height: 400px;
    border-radius: 7px;
}

#backgroundSection{
    width: 100%;
    height: 100%;
    background-image: url('https://i.pinimg.com/736x/78/5c/a3/785ca39a2a95c19e66b01b3e0615d32c.jpg');
    background-position: center left;
    background-size: cover;
}
section{
    background-color: rgba(70, 70, 69, 0.616);
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}aside{
    flex: 1;
}