body {
  background-image: url(assets/);
  display: flex;
  margin: 0;
  padding: 0px;
  background-size: cover;
  background-position: center center;
}
.container {
  display: flex;
  align-items: center;
  margin: 0 auto;
  height: 100vh;
}div>img{
  height: 25%;
  width: 100%;
}
