* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  min-height: 100vh;
}
h1 {
  text-align: center;
}
menu {
  background-color: #333;
  display: none;
  flex-direction: column;
}i{
    display: flex;
    background-color: rgb(30, 32, 34);
    height: 60px;
    width: 100%;
    align-items: center;
}
i > img {
    margin-left: 10px;
    border-radius: 5px;
  height: 30px;
  width: 30px;
  background-color: #555555;
}
menu nav {

  background-color: #b6b6b6cc;
  align-items: center;
  padding: 5px;
  margin-bottom: 2px;
  border-radius: 5px;
  width: max-content;
}
