body {
  background-image: linear-gradient(120deg, rgb(7, 18, 58), rgb(71, 108, 136));
}
section {
  background-color: white;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  height: auto;
  width: 500px;
  flex-wrap: wrap;
  padding: 30px;
  gap: 20px;
  box-shadow: 0px 0px 50px rgba(0, 255, 0, 0.329);
}
h1 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-style: italic;
  color: white;
}
