section {
  background-color: white;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  height: auto;
  width: 500px;
  flex-wrap: wrap;
  padding: 30px;
  gap: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 255, 0.432);
}
